// global color tokens
$-clr-white: hsl(0 0% 100%);

$-clr-orange-300: hsl(8 62% 75%);
$-clr-orange-400: hsl(8 62% 55%);
$-clr-orange-500: hsl(8 62% 35%);

$-clr-brown-100: hsl(33 24% 92%);
$-clr-brown-200: hsl(33 25% 88%);
$-clr-brown-300: hsl(33 23% 69%);
$-clr-brown-400: hsl(22 31% 44%);
$-clr-brown-700: hsl(20 23% 23%);
$-clr-brown-800: hsl(18 23% 10%);

$colors: (
  neutral: (
    900: #212121,
    400: #5c5c5c,
    200: #f8f8f8,
    100: #ffffff,
  ),
  primary: (
    400: #ff6635,
    500: #dd4e11,
  ),
);
