@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

// layout
$grid-gap: $size-6; // 1.5rem
$flex-group-gap: $size-4; // 1rem

$hero-padding-block: clamp(15rem, 15vh, 20rem);

$section-padding-block: clamp(5rem, 10vh, 6rem);

$card-body-padding: $size-8; // 80px

$container-min-margin-inline: $size-4; // 1rem;
$container-max-width: 64rem; // 1024px
$container-max-width-narrow: 40rem; // 640px
$container-max-width-wide: 75rem; // 1625px
