@use "../abstracts" as *;

.contact-form {
  display: grid;
  gap: var(--grid-gap, $grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));

  .button {
    display: block;
  }

  @include mq(medium) {
    .button {
      display: inline-flex;
      grid-column-end: -1;
      justify-self: end;
      margin-block-start: $size-4;
    }
  }
}
